{% block subject %}
Завершение регистрации на сервисе Share With Me.
{% endblock subject %}

{% block text_body %}
Вы получили это письмо для завершения процесса регистрации на сайте Share We Me.

Пожалуйста, подтвердите свой адрес электронной почты, пройдя по следующей ссылке:
{{ protocol }}://{{ domain }}/{{ url|safe }}

Спасибо за выбор нашего сервиса!

Команда сервиса Share With Me.
{% endblock text_body %}

{% block html_body %}
<p>Вы получили это письмо для завершения процесса регистрации на сайте Share We Me.</p>

<p>Пожалуйста, подтвердите свой адрес электронной почты, пройдя по следующей ссылке:</p>
<p><a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">{{ protocol }}://{{ domain }}/{{ url|safe }}</a></p>

<p>Спасибо за выбор нашего сервиса!</p>

<p>Команда сервиса Share With Me.</p>

{% endblock html_body %}
