{% block subject %}
Подтверждение почты на сервисе Share with me.
{% endblock subject %}

{% block text_body %}
Здравствуйте!
Вы получили это письмо, чтобы завершить регистрацию на сайте Share with me.
Для этого подтвердите свою электронную почту, пройдя по ссылке:
{{ protocol }}://{{ domain }}/{{ url|safe }}

Если Вы не регистрировались, то просто игнорируйте это письмо.

Спасибо за выбор нашего сервиса!
Команда Share with me.
{% endblock text_body %}

{% block html_body %}
<p>
    Здравствуйте!<br>
    Вы получили это письмо, чтобы завершить регистрацию на сайте Share with me.<br>
    Для этого подтвердите свою электронную почту, пройдя по ссылке:<br>
    <a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">{{ protocol }}://{{ domain }}/{{ url|safe }}</a><br>
</p>

<p>Если Вы не регистрировались, то просто игнорируйте это письмо.</p>

<p>
    Спасибо за выбор нашего сервиса!<br>
    Команда Share with me.
</p>
{% endblock html_body %}