{% block subject %}
Смена пароля на сайте Share with me.
{% endblock subject %}

{% block text_body %}
Здравствуйте!
Для установки нового пароля на сайте Share with me пройдите, пожалуйста, по ссылке:
{{ protocol }}://{{ domain }}/{{ url|safe }}

Если Вы не хотите сменить пароль, то просто игнорируйте это письмо.

Спасибо за выбор нашего сервиса!
Команда Share with me.
{% endblock text_body %}

{% block html_body %}
<p>
    Здравствуйте!<br>
    Для установки нового пароля на сайте Share with me пройдите, пожалуйста, по ссылке:<br>
    <a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">{{ protocol }}://{{ domain }}/{{ url|safe }}</a><br>
</p>

<p>Если Вы не хотите сменить пароль, то просто игнорируйте это письмо.</p>

<p>
    Спасибо за выбор нашего сервиса!<br>
    Команда Share with me.
</p>
{% endblock html_body %}