{% block subject %}
Смена пароля на сайте Share with me завершена.
{% endblock subject %}

{% block text_body %}
Здравствуйте!
Ваш пароль успешно изменен на сайте Share with me.
Если Вы этого не делали, напишите нам на почту.

Спасибо за выбор нашего сервиса!
Команда Share with me.
{% endblock text_body %}

{% block html_body %}
<p>
    Здравствуйте!<br>
    Ваш пароль успешно изменен на сайте Share with me.<br>
    Если Вы этого не делали, напишите нам на почту.<br>
</p>

<p>
    Спасибо за выбор нашего сервиса!<br>
    Команда Share with me.
</p>
{% endblock html_body %}