{% block subject %}
Анкета получена!
{% endblock subject %}

{% block text_body %}
Здравствуйте!
Ваша анкета на сайте Share With Me получена!
На рассмотрение обычно уходит 2 недели, мы можем с Вами связаться в течение
этого времени для уточнения данных, либо сразу пришлем письмо с
подтверждением.

Если у Вас возникли вопросы, можете написать нам на электронную почту {{ protocol }}://{{ email_sender }}.
И мы ответим в течение рабочего дня.

Спасибо за выбор нашего сервиса!
Команда сервиса Share With Me.
{% endblock text_body %}

{% block html_body %}
<div>
  <p>Здравствуйте!</p>
</div>
<div>
  <p>Ваша анкета на сайте Share With Me получена!</p>
  <p>На рассмотрение обычно уходит 2 недели, мы можем с Вами связаться в течение</p>
  <p>этого времени для уточнения данных, либо сразу пришлем письмо с</p>
  <p>подтверждением.</p>
</div>
<div>
  <p>Если у Вас возникли вопросы, можете написать нам на электронную почту 
      <a href="{{ protocol }}://{{ email_sender }}">{{ protocol }}://{{ email_sender }}</a>
  </p>
  <p>И мы ответим в течение рабочего дня.</p>
</div>
<div>
  <p>Спасибо за выбор нашего сервиса!</p>
  <p>Команда сервиса Share With Me.</p>
</div>

{% endblock html_body %}