{% block subject %}
Отмена сессии на сайте Share with me.
{% endblock subject %}

{% block text_body %}
Здравствуйте!
Ваша сессия с клиентом {{ client_name }}, назначенная на {{ date }} в {{ time }} (указано московское время GMT+3)
отменена.
Указанное время снова стало доступным в Вашем календаре, и к Вам могут записаться другие клиенты.
Для управления своим расписанием перейдите в личный кабинет:
{{ protocol }}://{{ domain }}/psychologist_account

Спасибо за выбор нашего сервиса!
Команда Share with me.
{% endblock text_body %}

{% block html_body %}
<p>
    Здравствуйте!<br>
    Ваша сессия с клиентом {{ client_name }}, назначенная на {{ date }} в {{ time }} (указано московское время GMT+3)
    отменена.
    Указанное время снова стало доступным в Вашем календаре, и к Вам могут записаться другие клиенты.<br>
    Для управления своим расписанием перейдите в личный кабинет:<br>
    <a href="{{ protocol }}://{{ domain }}/psychologist_account">{{ protocol }}://{{ domain }}
        /psychologist_account</a><br>
</p>
<p>
    Спасибо за выбор нашего сервиса!<br>
    Команда Share with me.
</p>
{% endblock html_body %}